{
    "plugins": [
        "prettier",
        "simple-import-sort",
        "@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "./.eslint.rules.json"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx",
                    ".mjs"
                ]
            }
        }
    },
    "overrides": [
        {
            "files": [
                "**/*.ts"
            ],
            "parser": "@typescript-eslint/parser",
            "rules": {
                "no-undef": "off"
            }
        }
    ],
    "env": {
        "node": true,
        "jest": true
    }
}